@using DotNetTwitchBot.Circuit;
@using DotNetTwitchBot.CustomMiddleware
@using DotNetTwitchBot.Models;
@using Microsoft.AspNetCore.Components.Server.Circuits;
@using Microsoft.AspNetCore.SignalR.Client;
@inherits LayoutComponentBase
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager Navigation
@inject ICircuitUserService UserService
@inject DotNetTwitchBot.Bot.Core.IServiceBackbone serviceBackbone
@inject CircuitHandler BlazorCircuitHandler
@implements IDisposable

<PageTitle>SPTV Twitch Bot</PageTitle>
<MudThemeProvider IsDarkMode=true />
<MudDialogProvider />
<MudSnackbarProvider />
<MudLayout>
    <MudAppBar>
        <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start"
            OnClick="@((e) => DrawerToggle())" />
        Super Waffle Bot
        <MudSpacer />
        @if(StreamOnline)
        {
            <MudAlert Severity="Severity.Success" NoIcon="true">Stream is Online</MudAlert>
        }
        else
        {
            <MudAlert Severity="Severity.Error" NoIcon="true">Stream is Offline</MudAlert>
        }
        <div id="components-reconnect-modal" class="components-reconnect-hide">
            
            <div class="show">
                <MudSpacer />
                <MudAlert Severity="Severity.Warning" NoIcon="true">Attempting to reconnect or manually refresh.</MudAlert>
            </div>
            <div class="rejected failed">
                <MudSpacer />
                <MudAlert Severity="Severity.Warning" NoIcon="true">Reconnect failed. Please refresh.</MudAlert>
            </div>
        </div>
        <MudSpacer />
        <AuthorizeView>
            <Authorized Context="Auth">
                <MudImage Width="48" Src="@ProfileImage" />
                <MudMenu Label="@Username" AnchorOrigin="Origin.CenterCenter" TransformOrigin="Origin.TopCenter">
                    <MudMenuItem OnClick="Signout">Sign out</MudMenuItem>
                </MudMenu>
            </Authorized>
            <NotAuthorized>
                <MudLink Href="/signin" Match="NavLinkMatch.Prefix">Sign In</MudLink>
            </NotAuthorized>
         </AuthorizeView>
    </MudAppBar>
    <MudDrawer @bind-Open="@_drawerOpen" Elevation="1">
        <NavMenu />
    </MudDrawer>
    <MudMainContent>
        @Body
    </MudMainContent>
</MudLayout>
@code {
    bool _drawerOpen = true;
    private string Username = "";
    private string ProfileImage = "";
    private bool StreamOnline = false;
    private HubConnection? hubConnection;
    [Inject]
    BlazorAppContext? BlazorAppContext { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider
           .GetAuthenticationStateAsync();
        var user = authState.User;

        if (user.Identity is not null && user.Identity.IsAuthenticated && user.Identity.Name != null)
        {
            Username = user.Identity.Name;
            if (user.HasClaim(x => x.Type.Equals("DisplayName")))
            {
                Username = user.Claims.Where(x => x.Type.Equals("DisplayName")).First().Value;
            }

            if (user.HasClaim(x => x.Type.Equals("ProfilePicture")))
            {
                ProfileImage = user.Claims.Where(x => x.Type.Equals("ProfilePicture")).First().Value;
            }
        }
        var handler = (CircuitHandlerService)BlazorCircuitHandler;
        UserService.Connect(handler.CircuitId, Username, BlazorAppContext?.CurrentUserIP);
        UserService.UpdateUserLastSeen(handler.CircuitId, Navigation.Uri);
        Navigation.LocationChanged += HandleLocationChanged;
        StreamOnline = serviceBackbone.IsOnline;
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender == false) return;
        hubConnection = new HubConnectionBuilder()
       .WithUrl(Navigation.ToAbsoluteUri("/mainhub")).Build();
        hubConnection.On<bool>("StreamChanged", (status) =>
        {
            StreamOnline = status;
            InvokeAsync(StateHasChanged);
        });
        await hubConnection.StartAsync();
    }

    private void HandleLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        var handler = (CircuitHandlerService)BlazorCircuitHandler;
        UserService.UpdateUserLastSeen(handler.CircuitId, Navigation.Uri);
    }

    private void Signout()
    {
        Navigation.NavigateTo("/signout", true);
    }

    void DrawerToggle()
    {
        _drawerOpen = !_drawerOpen;
    }
    public void Dispose()
    {
        Navigation.LocationChanged -= HandleLocationChanged;
    }
}
