@page "/customcommands/create"
@using Meziantou.AspNetCore.Components
@using System.ComponentModel.DataAnnotations
@inject DotNetTwitchBot.Bot.Commands.Custom.CustomCommand CustomCommand
@inject Microsoft.AspNetCore.Components.NavigationManager navigationManager
<PageTitle>Create Custom Command</PageTitle>
@if (customCommand == null)
{
    <p><em>Loading...</em></p>
}
else
{

    <MudCard>
        <EditForm Model="@customCommand" OnValidSubmit="OnSubmit">
            <DataAnnotationsValidator />
            <MudCardContent>
                <MudTextField Label="Command" Required="true" RequiredError="Command is required"
                @bind-Value="customCommand.CommandName" />
                <MudTextField Label="Response" Required="true" RequiredError="Response is required"
                @bind-Value="customCommand.Response" />
                <MudNumericField @bind-Value="@customCommand.UserCooldown" Label="User Cooldown" Variant="Variant.Text">
                </MudNumericField>
                <MudNumericField @bind-Value="@customCommand.GlobalCooldown" Label="Global Cooldown" Variant="Variant.Text">
                </MudNumericField>
                <MudNumericField @bind-Value="@customCommand.Cost" Label="Cost" Variant="Variant.Text"></MudNumericField>
                <MudCheckBox @bind-Checked="@customCommand.SayCooldown" Label="Say Cooldown?"></MudCheckBox>
                <MudCheckBox @bind-Checked="@customCommand.SayRankRequirement" Label="Say Rank Requirement?"></MudCheckBox>
                <MudCheckBox @bind-Checked="@customCommand.Disabled" Label="Disabled?"></MudCheckBox>
                <MudSelect @bind-Value="@customCommand.MinimumRank" Label="Minimum Rank">
                    @foreach (Rank item in Enum.GetValues(typeof(Rank)))
                    {
                        <MudSelectItem Value="@item">@item</MudSelectItem>
                    }
                </MudSelect>

                <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto">
                    Submit
                </MudButton>
            </MudCardContent>
        </EditForm>
    </MudCard>
}

@code {

    private DotNetTwitchBot.Bot.Models.CustomCommands customCommand { get; set; } = new();

    public async void OnSubmit()
    {
        if (customCommand == null) return;
        await CustomCommand.AddCommand(customCommand);
        navigationManager.NavigateTo($"/customcommands");
    }
}