@page "/keywords/{id:int}"
@attribute [Authorize(Roles = "Streamer")]
@using Meziantou.AspNetCore.Components
@using System.ComponentModel.DataAnnotations
@inject DotNetTwitchBot.Bot.Commands.Custom.CustomCommand CustomCommand
@inject Microsoft.AspNetCore.Components.NavigationManager navigationManager
<PageTitle>SPTV Twitch Bot - Edit Keyword Command</PageTitle>
@if (keyword == null)
{
    <p><em>Loading...</em></p>
}
else
{

    <MudCard>
        <EditForm Model="@keyword" OnValidSubmit="OnSubmit">
            <DataAnnotationsValidator />
            <MudCardContent>
                <MudTextField Label="Keyword" Required="true" RequiredError="Keyword is required"
                @bind-Value="keyword.CommandName" />
                <MudCheckBox @bind-Checked="@keyword.IsRegex" Label="Is Regex?"></MudCheckBox>
                <MudCheckBox @bind-Checked="@keyword.IsCaseSensitive" Label="Is Case Sensitive?"></MudCheckBox>
                <MudTextField Label="Response" Required="true" RequiredError="Response is required"
                @bind-Value="keyword.Response" />
                <MudTextField Label="Category"
                @bind-Value="keyword.Category" />

                <MudTextField Label="Description"
                @bind-Value="keyword.Description" />
                <MudNumericField @bind-Value="@keyword.UserCooldown" Label="User Cooldown" Variant="Variant.Text">
                </MudNumericField>
                <MudNumericField @bind-Value="@keyword.GlobalCooldown" Label="Global Cooldown" Variant="Variant.Text">
                </MudNumericField>
                <MudNumericField @bind-Value="@keyword.Cost" Label="Cost" Variant="Variant.Text"></MudNumericField>
                <MudCheckBox @bind-Checked="@keyword.SayCooldown" Label="Say Cooldown?"></MudCheckBox>
                <MudCheckBox @bind-Checked="@keyword.SayRankRequirement" Label="Say Rank Requirement?"></MudCheckBox>
                <MudCheckBox @bind-Checked="@keyword.Disabled" Label="Disabled?"></MudCheckBox>
                <MudSelect @bind-Value="@keyword.MinimumRank" Label="Minimum Rank">
                    @foreach (Rank item in Enum.GetValues(typeof(Rank)))
                    {
                        <MudSelectItem Value="@item">@item</MudSelectItem>
                    }
                </MudSelect>

                <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto">
                    Submit
                </MudButton>
            </MudCardContent>
        </EditForm>
    </MudCard>
}

@code {
    [Parameter]
    public int id { get; set; }

    private DotNetTwitchBot.Bot.Models.KeywordType? keyword { get; set; }

    protected override async void OnParametersSet()
    {
        keyword = await CustomCommand.GetKeyword(id);
        StateHasChanged();
    }

    public async void OnSubmit()
    {
        if (keyword == null) return;
        await CustomCommand.SaveKeyword(keyword);
        navigationManager.NavigateTo($"/keywords");
    }
}