@page "/musicplayer"
@attribute [Authorize(Roles = "Streamer")]
@layout NoMenuLayout
@using Microsoft.AspNetCore.SignalR.Client
@inject NavigationManager Navigation
@inject DotNetTwitchBot.Bot.Commands.Music.YtPlayer YtPlayer
@implements IAsyncDisposable
@inject ISnackbar Snackbar
@inject ILogger<MusicPlayer> logger

<PageTitle>SPTV Twitch Bot - Music Player</PageTitle>
<MudContainer Class="pa-4" MaxWidth="MaxWidth.ExtraExtraLarge">
    <MudStack Spacing="3">
        <MudText Typo="Typo.h4" Class="mb-2">
            <MudIcon Icon="@Icons.Material.Filled.MusicNote" Class="mr-2" />
            Music Player
        </MudText>

        <MudGrid Spacing="3">
            @if (currentSong != null)
            {
                <MudItem xs="12" md="4">
                    <MudPaper Elevation="3" Class="pa-4">
                        <MudStack Spacing="2">
                            <MudStack Row="true" AlignItems="AlignItems.Center" Spacing="2">
                                <MudIcon Icon="@Icons.Material.Filled.PlayCircle" Color="Color.Success" Size="Size.Large" />
                                <MudText Typo="Typo.h6" Color="Color.Success">Now Playing</MudText>
                            </MudStack>
                            <MudDivider />
                            <MudStack Spacing="1">
                                <MudStack Row="true" AlignItems="AlignItems.Center" Spacing="1">
                                    <MudIcon Icon="@Icons.Material.Filled.MusicNote" Size="Size.Small" Color="Color.Primary" />
                                    <MudText Typo="Typo.subtitle1"><strong>@currentSong.Title</strong></MudText>
                                </MudStack>
                                <MudStack Row="true" AlignItems="AlignItems.Center" Spacing="1">
                                    <MudIcon Icon="@Icons.Material.Filled.Person" Size="Size.Small" Color="Color.Secondary" />
                                    <MudText Typo="Typo.body2">Requested by <strong>@currentSong.RequestedBy</strong></MudText>
                                </MudStack>
                                <MudStack Row="true" AlignItems="AlignItems.Center" Spacing="1">
                                    <MudIcon Icon="@Icons.Material.Filled.AccessTime" Size="Size.Small" Color="Color.Info" />
                                    <MudText Typo="Typo.body2">@currentSong.Duration</MudText>
                                </MudStack>
                            </MudStack>
                            <MudDivider />
                            @if (YtPlayer.SongExistsInBackupList(currentSong))
                            {
                                <MudButton Variant="Variant.Filled" Color="Color.Default" Disabled="true" StartIcon="@Icons.Material.Filled.CheckCircle">
                                    Already in Playlist
                                </MudButton>
                            }
                            else
                            {
                                <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="StealSong" StartIcon="@Icons.Material.Filled.LibraryAdd">
                                    Steal Song
                                </MudButton>
                            }
                        </MudStack>
                    </MudPaper>
                </MudItem>
            }
            <MudItem xs="12" md="8">
                <MudPaper Elevation="3" Class="pa-4" Style="height: 450px;">
                    <div id="player" style="height: 410px;"></div>
                </MudPaper>
            </MudItem>

            <MudItem xs="12" md="4">
                <MudPaper Elevation="3" Class="pa-4">
                    <MudStack Spacing="2">
                        <MudStack Row="true" AlignItems="AlignItems.Center" Spacing="2">
                            <MudIcon Icon="@Icons.Material.Filled.Add" Color="Color.Primary" />
                            <MudText Typo="Typo.h6">Add Song</MudText>
                        </MudStack>
                        <MudTextField @bind-Value="addSongUrl" Label="Song URL" Variant="Variant.Outlined" 
                                      Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Link"></MudTextField>
                        <MudButton OnClick="AddSongRequest" ButtonType="ButtonType.Submit" Variant="Variant.Filled"
                                   Color="Color.Primary" FullWidth="true" StartIcon="@Icons.Material.Filled.Add">
                            Add Song Request
                        </MudButton>
                    </MudStack>
                </MudPaper>
            </MudItem>

            @if (songRequests != null)
            {
                <MudItem xs="12" md="8">
                    <MudPaper Elevation="3">
                        <MudTable Items="@songRequests" Dense="true" Hover="true">
                            <ToolBarContent>
                                <MudIcon Icon="@Icons.Material.Filled.QueueMusic" Color="Color.Primary" Class="mr-2" />
                                <MudText Typo="Typo.h6">Song Requests</MudText>
                                <MudSpacer />
                                <MudBadge Content="@songRequests.Count" Color="Color.Info" Overlap="true">
                                    <MudIcon Icon="@Icons.Material.Filled.MusicNote" Color="Color.Default" />
                                </MudBadge>
                            </ToolBarContent>
                            <HeaderContent>
                                <MudTh>Title</MudTh>
                                <MudTh>Length</MudTh>
                                <MudTh>Requested By</MudTh>
                                <MudTh>Actions</MudTh>
                            </HeaderContent>
                            <RowTemplate>
                                <MudTd DataLabel="Title">
                                    <MudStack Row="true" AlignItems="AlignItems.Center" Spacing="1">
                                        <MudIcon Icon="@Icons.Material.Filled.MusicNote" Size="Size.Small" Color="Color.Secondary" />
                                        <MudText>@context.Title</MudText>
                                    </MudStack>
                                </MudTd>
                                <MudTd DataLabel="Duration">@context.Duration</MudTd>
                                <MudTd DataLabel="Requested By">
                                    <MudStack Row="true" AlignItems="AlignItems.Center" Spacing="1">
                                        <MudIcon Icon="@Icons.Material.Filled.Person" Size="Size.Small" Color="Color.Success" />
                                        <MudText>@context.RequestedBy</MudText>
                                    </MudStack>
                                </MudTd>
                                <MudTd DataLabel="Actions">
                                    <MudStack Row="true" Spacing="1">
                                        <MudTooltip Text="Move to Next">
                                            <MudIconButton Icon="@Icons.Material.Filled.PriorityHigh" Color="Color.Warning" Size="Size.Small" 
                                                           OnClick="() => Priority(context)" />
                                        </MudTooltip>
                                        <MudTooltip Text="Remove">
                                            <MudIconButton Icon="@Icons.Material.Filled.Delete" Color="Color.Error" Size="Size.Small" 
                                                           OnClick="() => RemoveSongRequest(context)" />
                                        </MudTooltip>
                                    </MudStack>
                                </MudTd>
                            </RowTemplate>
                            <NoRecordsContent>
                                <MudAlert Severity="Severity.Info" Variant="Variant.Outlined" Icon="@Icons.Material.Filled.MusicOff">
                                    No song requests in queue
                                </MudAlert>
                            </NoRecordsContent>
                        </MudTable>
                    </MudPaper>
                </MudItem>
            }

            @if (musicPlaylists != null)
            {
                <MudItem xs="12" md="4">
                    <MudPaper Elevation="3">
                        <MudTable Items="@musicPlaylists" Dense="true" Hover="true">
                            <ToolBarContent>
                                <MudIcon Icon="@Icons.Material.Filled.LibraryMusic" Color="Color.Secondary" Class="mr-2" />
                                <MudText Typo="Typo.h6">Playlists</MudText>
                            </ToolBarContent>
                            <HeaderContent>
                                <MudTh>Name</MudTh>
                                <MudTh>Load</MudTh>
                            </HeaderContent>
                            <RowTemplate>
                                <MudTd DataLabel="Name">
                                    <MudStack Row="true" AlignItems="AlignItems.Center" Spacing="1">
                                        <MudIcon Icon="@Icons.Material.Filled.PlaylistPlay" Size="Size.Small" Color="Color.Primary" />
                                        <MudText>@context.Name</MudText>
                                    </MudStack>
                                </MudTd>
                                <MudTd DataLabel="Load">
                                    <MudTooltip Text="Load Playlist">
                                        <MudIconButton Icon="@Icons.Material.Filled.PlayArrow" Color="Color.Success" Size="Size.Small"
                                                       OnClick="() => StartPlaylist(context)" />
                                    </MudTooltip>
                                </MudTd>
                            </RowTemplate>
                            <NoRecordsContent>
                                <MudAlert Severity="Severity.Info" Variant="Variant.Outlined">
                                    No playlists available
                                </MudAlert>
                            </NoRecordsContent>
                        </MudTable>
                    </MudPaper>
                </MudItem>
            }

            @if (currentPlayList != null)
            {
                <MudItem xs="12" md="8">
                    <MudPaper Elevation="3">
                        <MudTable Items="@currentPlayList.Songs" Dense="true" Hover="true">
                            <ToolBarContent>
                                <MudIcon Icon="@Icons.Material.Filled.Album" Color="Color.Tertiary" Class="mr-2" />
                                <MudText Typo="Typo.h6">@currentPlayList.Name</MudText>
                                <MudSpacer />
                                <MudBadge Content="@currentPlayList.Songs.Count" Color="Color.Info" Overlap="true">
                                    <MudIcon Icon="@Icons.Material.Filled.MusicNote" Color="Color.Default" />
                                </MudBadge>
                            </ToolBarContent>
                            <HeaderContent>
                                <MudTh>Title</MudTh>
                                <MudTh>Length</MudTh>
                                <MudTh>Actions</MudTh>
                            </HeaderContent>
                            <RowTemplate>
                                <MudTd DataLabel="Title">
                                    <MudStack Row="true" AlignItems="AlignItems.Center" Spacing="1">
                                        <MudIcon Icon="@Icons.Material.Filled.MusicNote" Size="Size.Small" Color="Color.Secondary" />
                                        <MudText>@context.Title</MudText>
                                    </MudStack>
                                </MudTd>
                                <MudTd DataLabel="Duration">@context.Duration</MudTd>
                                <MudTd DataLabel="Actions">
                                    <MudStack Row="true" Spacing="1">
                                        <MudTooltip Text="Add to Queue">
                                            <MudIconButton Icon="@Icons.Material.Filled.Queue" Color="Color.Primary" Size="Size.Small"
                                                           OnClick="() => QueueSong(context)" />
                                        </MudTooltip>
                                        <MudTooltip Text="Remove from Playlist">
                                            <MudIconButton Icon="@Icons.Material.Filled.Delete" Color="Color.Error" Size="Size.Small"
                                                           OnClick="() => RemoveSong(context)" />
                                        </MudTooltip>
                                    </MudStack>
                                </MudTd>
                            </RowTemplate>
                            <NoRecordsContent>
                                <MudAlert Severity="Severity.Info" Variant="Variant.Outlined" Icon="@Icons.Material.Filled.PlaylistRemove">
                                    Playlist is empty
                                </MudAlert>
                            </NoRecordsContent>
                        </MudTable>
                    </MudPaper>
                </MudItem>
            }
        </MudGrid>
    </MudStack>

    <MudScrollToTop>
        <MudFab Color="Color.Tertiary" StartIcon="@Icons.Material.Filled.ArrowCircleUp" />
    </MudScrollToTop>
</MudContainer>

@code {
    private List<MusicPlaylist>? musicPlaylists;
    private MusicPlaylist? currentPlayList;
    private Song? currentSong;
    private List<Song>? songRequests;
    private HubConnection? hubConnection;
    private CancellationTokenSource? _hubConnectionCts;
    private string? addSongUrl;
    [Inject]
    private IJSRuntime JsRuntime { get; set; } = default!;

    private Timer? _timer;
    private bool playerReady;
    private bool apiReady;
    private bool playerCreated;


    protected override async Task OnInitializedAsync()
    {
        musicPlaylists = await YtPlayer.Playlists();
        currentPlayList = await YtPlayer.CurrentPlaylist();
        currentSong = YtPlayer.GetCurrentSong();

    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender == false) return;

        await JsRuntime.InvokeVoidAsync("initializeYouTubePlayer");
        _timer = new Timer(async (e) =>
        {
            try
            {
                playerReady = await JsRuntime.InvokeAsync<bool>("checkPlayer");
                apiReady = await JsRuntime.InvokeAsync<bool>("checkAPIReady");

                if (apiReady && !playerCreated)
                {
                    await JsRuntime.InvokeVoidAsync("createPlayer");
                    playerCreated = true;
                }

                if (playerReady)
                {
                    if(currentSong != null)
                    {
                        await JsRuntime.InvokeAsync<string>("playVideo", currentSong.SongId);
                    } else
                    {
                        await JsRuntime.InvokeAsync<string>("playVideo", await YtPlayer.GetNextSong());
                    }

                    _timer?.Dispose();
                }
            }
            catch (Exception)
            {
                _timer?.Dispose();
            }
        }, null, TimeSpan.Zero, TimeSpan.FromMilliseconds(500));

        _hubConnectionCts = new CancellationTokenSource();

        hubConnection = new HubConnectionBuilder()
            .WithUrl(Navigation.ToAbsoluteUri("/ythub"), options =>
            {
                options.Transports = Microsoft.AspNetCore.Http.Connections.HttpTransportType.WebSockets | 
                                     Microsoft.AspNetCore.Http.Connections.HttpTransportType.ServerSentEvents |
                                     Microsoft.AspNetCore.Http.Connections.HttpTransportType.LongPolling;
                options.SkipNegotiation = false;
            })
            .WithAutomaticReconnect(new[] { TimeSpan.Zero, TimeSpan.FromSeconds(2), TimeSpan.FromSeconds(5), TimeSpan.FromSeconds(10) })
            .Build();

        hubConnection.On<Song?>("CurrentSongUpdate", (song) =>
        {
            currentSong = song;
            InvokeAsync(StateHasChanged);
        });

        hubConnection.On<MusicPlaylist>("UpdateCurrentPlaylist", (playlist) =>
        {
            currentPlayList = playlist;
            InvokeAsync(StateHasChanged);
        });

        hubConnection.On<List<Song>>("CurrentSongRequests", (playlist) =>
        {
            songRequests = playlist;
            InvokeAsync(StateHasChanged);
        });

        try
        {
            await hubConnection.StartAsync(_hubConnectionCts.Token);
        }
        catch (OperationCanceledException)
        {
            // Expected during disposal
        }
        catch (Microsoft.AspNetCore.SignalR.HubException ex) when (ex.Message.Contains("Handshake was canceled"))
        {
            // Expected when user navigates away before connection completes
        }
        catch (Exception ex)
        {
            logger.LogWarning(ex, "Failed to establish SignalR connection");
            Snackbar.Add("Lost connection to bot. Data may be inaccurate until refresh.", Severity.Warning);
        }
    }

    private async Task StartPlaylist(MusicPlaylist musicPlaylist)
    {
        if (musicPlaylist != null && musicPlaylist.Id != null)
        {
            await YtPlayer.LoadPlayList((int)musicPlaylist.Id);
        }
    }

    private async Task Priority(Song song)
    {
        await YtPlayer.MoveSongToNext(song.SongId);
    }

    private async Task RemoveSong(Song song)
    {
        await YtPlayer.RemoveSong(song);
    }

    private async Task QueueSong(Song song)
    {
        await YtPlayer.AddSongToQueue(song);
    }

    private async Task RemoveSongRequest(Song song)
    {
        await YtPlayer.RemoveSongRequest(song);
    }

    private async Task AddSongRequest()
    {
        if (addSongUrl == null) return;
        await YtPlayer.AddSongToRequests(addSongUrl);
        addSongUrl = "";
    }

    private async Task StealSong()
    {
        await YtPlayer.StealCurrentSong();
    }
    public async ValueTask DisposeAsync()
    {
        _hubConnectionCts?.Cancel();

        if (hubConnection is not null)
        {
            try
            {
                if (hubConnection.State != HubConnectionState.Disconnected)
                {
                    await hubConnection.StopAsync();
                }
                await hubConnection.DisposeAsync();
            }
            catch (Exception ex)
            {
                logger.LogDebug(ex, "Exception during SignalR connection disposal (non-critical)");
            }
        }

        _hubConnectionCts?.Dispose();
    }
}