@page "/playlists"
@inject DotNetTwitchBot.Bot.Commands.Music.YtPlayer YtPlayer
@inject Microsoft.AspNetCore.Components.NavigationManager navigationManager

<PageTitle>Playlists</PageTitle>
<style type="text/css">
    .white-text {
        color: white;

    }
</style>
@if (musicPlaylists == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table white-text">
        <thead>
            <tr>
                <th>Title</th>
                <th>Load</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var playlist in musicPlaylists)
            {
                <tr>
                    <td>@playlist.Name</td>
                    <td><button class="btn btn-primary btn-xs" @onclick="() => ViewList(playlist)">View</button></td>
                    <td><button class="btn btn-primary btn-xs" @onclick="() => StartPlaylist(playlist)">Load</button></td>
                </tr>
            }
        </tbody>
    </table>
}

@if (currentPlayList == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div>Current Playlist: @currentPlayList.Name Total Songs: @currentPlayList.Songs.Count()</div>
    <table class="table white-text">
        <thead>
            <tr>
                <th>Title</th>
                <th>Length</th>
                <th>Song Id</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var song in currentPlayList.Songs)
            {
                <tr>
                    <td>@song.Title</td>
                    <td>@song.Duration</td>
                    <td>@song.SongId</td>
                </tr>
            }
        </tbody>
    </table>
}
@code {
    private List<MusicPlaylist>? musicPlaylists;
    private MusicPlaylist? currentPlayList;

    protected override async Task OnInitializedAsync()
    {
        musicPlaylists = await YtPlayer.Playlists();
        currentPlayList = await YtPlayer.CurrentPlaylist();
    }

    private void ViewList(MusicPlaylist musicPlaylist)
    {
        navigationManager.NavigateTo($"/viewplaylist/{musicPlaylist.Id}");
    }

    private async Task StartPlaylist(MusicPlaylist musicPlaylist)
    {
        if (musicPlaylist != null && musicPlaylist.Id != null)
        {
            await YtPlayer.LoadPlayList((int)musicPlaylist.Id);
            StateHasChanged();
        }
    }
}